<div>
    <p>Список пользователей в хранилище</p>

    <ul id="navigation">
        {% for user in users %}
            <li id = user{{user.userId}} >{{ user.userName }} {{ user.userLastName }}. День рождения: {{ user.userBirthday | date('d-m-Y') }}.
                {% if isAdmin %}
                    <button type="button"><a href="/user/updateform/?user_id={{user.userId}}&user_name={{user.userName}}&user_last_name={{user.userLastName}}&user_birthday={{user.userBirthday}}">Изменить</a></button>
                    <button type="button"  onClick="deleteUser({{ user.getUserId() }})">Удалить</button>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% if isAdmin %}
        <a href="/user/edit">Добавить</a>
    {% endif %}
</div>
